@import "./styles/pulsingballs.css";

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
  font-size: clamp(12px, 2.5vw, 20px);
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 15vh 1fr 20vh;
}

header {
  background: gray;
}

footer {
  background: lightgray;
}

main {
  display: grid;
  grid-template-columns: repeat(var(--columns, 4), minmax(0, 1fr));
  grid-template-rows: repeat(auto-fill, 200px);

  gap: 2rem;
  justify-items: center;
  align-items: center;
}
